/* CSS HEX */
:root{
--vermilion: #DD4842ff;
--silver: #CABBB9ff;
--white: #FEFEFEff;
--battleship-gray: #919390ff;
--dark-spring-green: #0A7839ff;
}
/* SCSS HEX */
$vermilion: #DD4842ff;
$silver: #CABBB9ff;
$white: #FEFEFEff;
$battleship-gray: #919390ff;
$dark-spring-green: #0A7839ff;
